@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  background-color: #d3e3eb;
  color: #141618;
  line-height: 1.5;
  font-size: 16px;
  width: 1100px;
  margin: 0 auto 0 auto;
  font-family: "georgia""Times New Roman", serif
}

header {
  text-align: center;
  margin: 60px 0;
}

nav {
  margin: 60px 0 0 0;
}

nav a {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #141618;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 40px 0 40px;
}

nav a:hover {
  color: #fac600;
}

section {
  background-color: white;
  margin-bottom: 40px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 50px 0;
}

div.post-content {
  padding: 35px 240px;
}

/* this applies styles only to anchor tags inside div elements with a class of post content */
div.post-content a {
  color: #141618;
}

/* apply a yellow hover state to only the read more links */
div.post-content a:hover {
  color: #fac600
}

div.post-details {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #ADADAD;
  border-top: 2px solid #ADADAD;
}

footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #7e8081;
}

footer a {
  padding: 0 16px;
  text-decoration: none;
}

/*contact page styles  */
form div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #b2b2b2;
}

input[type="email"], input[type="text"], textarea {
  width: 100%;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  padding: 10px;
  font-family: "georgia""Times New Roman", serif;
  font-size: 18px;
  outline: none;
}

textarea {
  resize: vertical;
  height: 100px;
}

input[type="submit"] {
  background-color: #fac600;
  padding: 10px 30px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

/* mobile styles  */
@media screen and (max-width: 1100px) {
  body {
    margin: 0 20px;
    width: auto;
  }

  img, iframe {
    max-width: 100%;
  }

  div.post-content {
    padding: 35px;
  }

  header {
    margin: 30px 0;
  }

  nav a {
    display: block;
    padding: 10px;
  }

  nav a:hover {
    background-color: white;
  }
}